<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">
                    <i class="bi bi-snow"></i> СпортАренда
                </h5>
                <p class="text-light">
                    Аренда качественного спортивного инвентаря для активного отдыха.
                </p>
            </div>
            
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">Контакты</h5>
                <ul class="list-unstyled text-light">
                    <li class="mb-2">
                        <i class="bi bi-telephone"></i> +7 (999) 123-45-67
                    </li>
                    <li class="mb-2">
                        <i class="bi bi-envelope"></i> info@sportarenda.ru
                    </li>
                    <li class="mb-2">
                        <i class="bi bi-geo-alt"></i> Москва, ул. Примерная, 1
                    </li>
                </ul>
            </div>
            
            <div class="col-md-4 mb-4">
                <h5 class="mb-3">Навигация</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="{% url 'core:index' %}" class="text-light text-decoration-none">Главная</a>
                    </li>
                    <li class="mb-2">
                        <a href="{% url 'inventory:catalog' %}" class="text-light text-decoration-none">Каталог</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-light text-decoration-none">О нас</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <hr class="bg-light">
        
        <div class="row">
            <div class="col-12 text-center text-light">
                <p class="mb-0">
                    &copy; 2025 СпортАренда. Учебный проект УП02 - МГТУ им. Н.Э. Баумана
                </p>
            </div>
        </div>
    </div>
</footer>